PORT=5000
DB_URL=
SMPP_IP=
SMPP_PORT=
SMPP_SYSTEM_ID=
SMPP_PASSWORD=
CONTROLLER_IP=
CONTROLLER_PORT=
CONTROLLER_ID=
DOOR=
TELEGRAM_BOT_API_KEY=
REGION=м. Київ
ALARM_URL=http://ubilling.net.ua/aerialalerts/
ADMINS=+380*,+380*